<!DOCTYPE html>
<html>
    <head>
        <script src="static/main.js"></script>
    </head>
    <br>
    <body>

        <h1>LOGIN</h1>

        <input id = "username" type = "text">
        <label for = "username">username</label>
        <br>
        <input id = "password" type = "text">
        <label for = "password">password</label>
        <br>

        <button>register</button>
        <button onclick="creds()">login</button>

        <div id = block>
            <p id ="paragraph"></p>
            <br>
            <p id ="paragraph2"></p>
        </div>

    </body>
 </html>