<!DOCTYPE html>
<html>
    <head>
        <script src="static/main.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styling.css">
    </head>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:5000/normalaccount">Search</a></li>
            <li><a href="http://127.0.0.1:5000/availability">Check Availability</a></li>
            <li><a href="http://127.0.0.1:5000/print">Print Database</a></li>
            <li><a href="http://127.0.0.1:5000/acctinfo">Account Information</a></li>
        </ul>
    </nav>

    <br>
    <body>
        <h1>Normal Account</h1>
        <h2>Search</h2>

        <input type = "text" id = "make">
        <label for = make>make</label>
        <br>
        <input type = "text" id = "model">
        <label for = mode>model</label>
        <br>
        <input type = "text" id = "year">
        <label for = year>year</label>
        <br>
        <input type = "text" id = "color">
        <label for = color>color</label>
        <br>
        <input type = "text" id = "engine">
        <label for = engine>engine</label>
        <br>
        <input type = "text" id = "transmission">
        <label for = transmission>transmission</label>
        <br>
        <input type = "text" id = "classtype">
        <label for = class>class</label>
        <br>
        <button onclick="search()">Search</button>
    

        <div id = block>
            <p id ="paragraph"></p>
        </div>

    </body>
 </html>


<!-- Normal account page(logged in as normal):

Search tab sends them too search page:
	-ask the questions questions
	-form basically to get the car they want

Check availability tab sends to availability page
	- ask for carid
	- search button car id

Print Database tab sends them to print page
	- just put a print button

Check info tab sends to info page
	- previous purchases button
	- services history button -->